body {
    width: 70%;
    margin: auto;
    background-color: rgb(107, 107, 107);
}

header {
    text-align: center;
    background-color: rgb(153, 153, 153);
    margin-bottom: 0;
}

main {
    margin-top: 0;
    background-color: rgb(211, 211, 211);
    min-height: 40em;
}

li {
    padding: 2em;
}

button {
    margin-left: 12%;
}

li * {
    margin-bottom: 1em;
}

h2 {
    background-color: rgb(231, 155, 155);
    margin: 2% red;
    text-align: center;
}