*  {
    margin: 0;
    padding: 0;
  /*  font-family:poppins*/;
  box-sizing: border-box;

}

body{
    overflow: hidden;
}

section{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height:100vh;
    background-image: url('img/image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.container{
    position: relative;
    width: 400px;
    min-height: 400px;
    background:rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 2;
}

.form{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.form h2{
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight:600;
    letter-spacing: 1px;
    margin-bottom:40px;
}

.form h2::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background:#fff;
}

.form .inputBox{
    width: 100%;
    margin-top:20px;
}

.form .inputBox input{
    width: 100%;
    background:rgba(255, 255, 255, 0.2);
    border:none;
    outline:none;
    padding:10px 20px;
    border-radius:  35px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color:#fff;
    box-shadow: 0 5 15px rgba(0, 0, 0, 0.5);
}

.form .inputBox input::placeholder{
    color:#fff;
}

.form .inputBox input[type="submit"]{
    background-color:#fff;
    color:#666;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}

.forget{
    margin-top:5px;
    color:#fff;
}

.forget a{
    color: #fff;
    font-weight: 600;

}